body{
	position:relative;
	margin: 0;
	margin-bottom: -50px;
	padding-bottom:5rem;
	min-height: 100%;
}
.push{
	height: 50px;
}
.navbar{
	height: 50px;
}
.footer{
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}
.center{
	text-align:center;
}
.barlist{
	list-style:none;
	display:inline-block;
	padding-left:0px;
}
.bar{
	width: 250px;
	margin-top:20px;
	margin-right:5px;
	margin-left:5px;
	margin-bottom: 5px;
	display:inline-block;
	background:white;
	border-radius:10px;
}